Source: freediameter
Section: contrib/net
Priority: extra
Maintainer: Sebastien Decugis <sdecugis@freediameter.net>
Build-Depends: debhelper ( >= 11),
 cmake, make, gcc, g++, bison, flex,
 libsctp-dev, libgnutls-dev | gnutls-dev,
 libxml2-dev, swig, python-dev
Standards-Version: 3.8.3
Homepage: http://www.freediameter.net

Package: freediameter-cinar-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: freediameter
Description: The freeDiameter libraries.
 This package contains the freeDiameter framework core libraries, 
 required by all freeDiameter components.
 It may also be useful for other projects which need to 
 perform operations on Diameter messages. 
 .
 The freeDiameter framework provides support for the Diameter
 Base Protocol. Without any extension, the framework can only
 be used as a Diameter routing agent. You probably want to 
 install some freeDiameter extension(s) to extend its 
 features, and also the freediameter-daemon package that
 will initialize the framework for you.
 .
 See 'freeDiameter-cinar-dev' package to retrieve the API for the library.

Package: freediameter-cinar-dev
Architecture: any
Section: contrib/devel
Depends: freediameter-cinar-common (= ${binary:Version}), libsctp-dev, libgcrypt-dev
Description: This package provides the development files for freeDiameter.
